/***************** GENERAL STYLES *******************/
html {
    width: 100%;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #151515;
    font-size: 1em;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url('../images/image-profile-mobile.webp') top no-repeat;
    background-size: 46%;
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    overflow-x: hidden;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
}

.container {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    padding: 0;
    margin: 0;
}

.hide {
    display: none !important;
}

/****************** NAV ******************/

nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0 331px 0;
}

nav h1 {
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.33px;
    color: #fff;
    margin-bottom: 20px;
}

nav .socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

nav .socials img {
    width: 13%;
}

/****************** HERO ******************/

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 80px;
    overflow: hidden;
}

.hero h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.14px;
    margin-bottom: 24px;
}

.hero .stress {
    border-bottom: 4px solid #4EE1A0;
}

.hero p {
    margin-bottom: 24px;
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    color: #D9D9D9;
    text-align: center;
}

.hero a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
}

header .circle {

    color: #fff;
    position: absolute;
    top: 254px;
    right: -65px;
}

body .rings-top {
    position: absolute;
    width: 530px;
    top: 124px;
    left: -342px;
    z-index: -1;
}

/****************** SKILLS ******************/

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
    position: relative;
    overflow-x: hidden;
}

.container .skill {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 24px;
}

.container .skill-last {
    padding-bottom: 0;
}

.skill h2 {
    width: 100%;
    font-size: 1.78em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;
    text-align: center;
}

.skill p {
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #D9D9D9;
}

main .rings-middle {
    position: absolute;
    z-index: 1;
    top: 540px;
    right: -344px;
}

/****************** PROJECTS ******************/

.projects {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 80px 0;
    position: relative;
}



.projects .title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.title-bar h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.14px;
}

.title-bar a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    border-bottom: 2px solid #4EE1A0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
}

.project-case {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.project {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 40px;
}

.project img {
    width: 100%;
    margin-bottom: 20px;
}

.project h3 {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    margin-bottom: 7px;
}

.project .tools {
    margin-bottom: 20px;
}

.tools span {
    padding-right: 18px;
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    color: #D9D9D9;
}

.project .links {
    width: 79%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.project .links a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
}

/****************** FOOTER ******************/

footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #242424;
    padding-bottom: 60px;
}

footer .container {
    position: relative;
}

footer .rings-bottom {
    width: 530px;
    position: absolute;
    top: 436px;
    left: -359px;
    color: #fff;
}

footer .contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 0 50px 0;
}

footer h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.14px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

footer p {
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    color: #D9D9D9;
    text-align: center;
    margin-bottom: 50px;
}

footer .contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 39px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 87px;
}

.contact-form form {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

form input[type="text"],
form #name {
    width: 100%;
    margin-bottom: 32px;
    background-color: #242424;
    outline: none;
    color: #fff;
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
    opacity: 0.5;
    border-bottom: 1px solid #fff;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding-bottom: 17px;
    padding-left: 24px;
    text-transform: uppercase;
}

form .name:focus {
    border-bottom: 1px solid #4EE1A0;
}

form input::placeholder {
    padding-left: 24px;
}

form #message {
    padding-bottom: 81px;
    margin-top: 32px;
    text-transform: uppercase;
}

form #email {
    margin-bottom: 0;
    text-transform: uppercase;
}

.error-msg {
    width: 100%;
    font-size: 0.89em;
    font-weight: normal;
    text-align: right;
    color: #FF6F5B;
    margin: 0;
}

.fa-circle-exclamation {
    font-size: 1.1em;
    position: absolute;
    color: #FF6F5B;
    top: 80px;
    right: 1px;
}


.submit-case {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

form .send {
    background: #242424;
    color: #fff;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
    font-size: 0.88em;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 2.29px;
    opacity: 1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    text-transform: uppercase;
}

footer .foot-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.foot-title h1 {
    width: 100%;
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.33px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.foot-title .socials {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.foot-title .socials img {
    width: 13%;
}

.mentor {
    font-size: 0.65em;
    background: #242424;
}

.mentor a {
    color: #fff;
    text-decoration: none;
}



/********************* TABLET STYLES *********************/

@media (min-width: 768px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 29px 0 90px 0;
    }

    nav h1 {
        width: 24.3%;
        margin: 0;
    }

    nav .socials {
        width: 25%;
    }

    header {
        background: url('../images/image-profile-tablet.webp') no-repeat;
        background-position: right 0px;
        background-size: auto 600px;
        margin-bottom: 60px;
    }

    header .container {
        justify-content: flex-start;
    }

    body .rings-top {
        top: 86px;
        left: -265px;
    }

    /************** HERO ****************/

    .hero {
        width: 59.72%;
        justify-content: flex-start;
    }

    header .hero h2 {
        width: 100%;
        text-align: left;
        font-weight: 700;
        font-size: 4em;
        line-height: 72px;
        letter-spacing: -2.1px;
        margin-bottom: 60px;
    }

    header .hero p {
        text-align: left;
        font-size: 1em;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 34px;
    }

    header .hero a {
        text-align: left;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.29px;
        font-size: 0.88em;
    }

    header .circle {
        top: 471px;
    }

    header .rings-top {
        top: 86px;
        left: -265px;
    }

    /***************** SKILL ****************/

    .skills {
        padding: 52px 0 0 0;
        border-bottom: none;
    }

    .skill {
        width: 50%;
        justify-content: flex-start;
    }

    .skill h2,
    .skill p {
        text-align: left;
        width: 100%;
    }

    .skill h2 {
        font-size: 2.67em;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1.5px;
    }

    .skill p {
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    main .rings-middle {
        position: absolute;
        z-index: 1;
        top: 330px;
        right: -344px;
    }

    /***************** PROJECTS ****************/

    .projects {
        padding: 100px 0 0 0;
    }

    .projects h2 {
        font-size: 4em;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .projects .title-bar {
        margin-bottom: 60px;
    }

    .project-case {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .project {
        width: 48%;
        margin-bottom: 60px;
    }

    /**************** FOOTER ****************/

    .contact-info h2 {
        width: 100%;
        font-weight: 4em;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .contact-info p {
        width: 58%;
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    .contact-form {
        width: 100%;
        padding-bottom: 92px;
    }

    .contact-form form {
        width: 58%;
    }

    footer .rings-bottom {
        top: 547px;
        left: -368px;
    }

    footer .foot-title {
        width: 100%;
        justify-content: space-between;
    }

    .foot-title h1 {
        width: 24%;
    }

    .foot-title .socials {
        width: 27%;
    }
}

/********************* DESKTOP STYLES *********************/

@media (min-width: 1200px) {

    /********************** GENERAL STYLES **********************/

    body {
        max-width: 1440px;
    }

    main .container {
        width: 77%;
    }

    .hide {
        display: none !important;
    }

    /********************** HEADER **********************/

    header {
        max-width: 1110px;
        width: 77%;
        background: url('../images/image-profile-desktop.webp ') no-repeat;
        background-position: right top;
        background-size: auto 720px;
    }

    header .container {
        width: 100%;
        justify-content: flex-start;
    }

    header .circle {
        top: 521px;
        right: 380px;
    }

    body .rings-top {
        top: 133px;
        left: -100px;
    }

    nav {
        width: 100%;
        margin-bottom: 127px;
    }

    nav h1 {
        font-size: 1.78em;
    }

    nav .socials {
        width: 17.3%;
        margin-right: 29.51px;
    }

    nav .socials img:hover {
        cursor: pointer;
    }

    header .container .hero {
        width: 62%;
    }



    header .hero h2 {
        width: 100%;
        font-size: 4.89em;
        line-height: 88px;
        letter-spacing: -2.5px;
    }

    header .hero p {
        width: 63%;
    }

    header .hero a {
        margin-right: 280px;
    }

    header .hero a:hover {
        color: #4EE1A0;
    }

    /************************ SKILLS *********************/

    .container {
        max-width: 1110px;
        width: 100%;
        margin-bottom: 85px;
    }

    .container .skills {
        width: 100%;
        justify-content: space-between;
    }

    .skills .skill {
        width: 31%;
        padding-bottom: 0;
        margin-bottom: 58px;
    }

    .skill h2 {
        font-size: 2.67em;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1.5px;
        padding-bottom: 14px;
    }

    .skill p {
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    main .rings-middle {
        position: absolute;
        z-index: 1;
        top: 253px;
        right: -239px;
    }

    /******************** PROJECTS ******************/

    .projects {
        max-width: 1110px;
        padding-top: 0;
    }

    .projects .container {
        width: 100%;
        margin-bottom: 0;
    }

    .project-case {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .project {
        margin: 0 0 69px 0;
    }

    .img-case {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .project img {
        margin-bottom: 0;
    }

    .img-case .overlay {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        background: #000;
        opacity: 0.8;

    }

    .img-case .overlay-links {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .img-case .overlay-link {
        text-align: center;
        font-size: 0.88em;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.29px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }

    .img-case .overlay-link:hover {
        color: #4EE1A0;
    }

    .img-case .overlay-links a {
        border-bottom: 2px solid #4EE1A0;
        padding-bottom: 10px;
        opacity: 1;
    }

    .overlay-links .upper {
        margin-bottom: 38px;
    }

    .project .tools {
        margin-bottom: 0;
    }

    .project .links {
        display: none;
    }

    .title-bar {
        width: 100%;
    }

    /******************** CONTACT ******************/

    footer .container {
        max-width: 1110px;
        padding-top: 84px;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .rings-bottom {
        top: 327px;
        left: -205px;
    }

    footer .contact-info,
    footer .contact-form {
        width: 40%;
    }

    .contact-info h2,
    .contact-info p {
        width: 100%;
        text-align: left;
    }

    .contact-info h2 {
        font-weight: 700;
        font-size: 4.89em;
        line-height: 88px;
        margin-bottom: 36px;
    }

    .contact-form form {
        width: 100%;
    }

    .submit-case input[type="submit"]:hover {
        color: #4EE1A0;
        cursor: pointer;
    }

    footer .contact-form {
        border-bottom: none;
    }

    footer .foot-title {
        border-top: 1px solid #979797;
        padding-top: 47px;
    }

    .foot-title h1 {
        font-size: 1.78em;
        text-align: left;
    }

    .foot-title .socials {
        width: 17.3%;
    }

    .foot-title .socials img:hover {
        cursor: pointer;
    }
}