/***************** GENERAL STYLES *******************/
html {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #151515;
    font-size: 1em;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url('../images/image-profile-mobile.webp') no-repeat top;
    background-size: 46%;
    position: relative;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    padding: 0;
    margin: 0;
}

/****************** NAV ******************/

nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0 331px 0;
}

nav h1 {
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.33px;
    color: #fff;
    margin-bottom: 20px;
}

nav .socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

nav .socials img {
    width: 13%;
}

/****************** HERO ******************/

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 80px;
}

.hero h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.14px;
    margin-bottom: 24px;
}

.hero .stress {
    border-bottom: 4px solid #4EE1A0;
}

.hero p {
    margin-bottom: 24px;
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    color: #D9D9D9;
    text-align: center;
}

.hero a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
}

header .circle {
    color: #fff;
    position: absolute;
    top: 254px;
    right: -65px;
}

header .rings-top {
    position: absolute;
    top: 124px;
    left: -342px;
    z-index: -1;
}

/****************** SKILLS ******************/

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 40px 0;
    position: relative;
}

.container .skill {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 24px;

}

.skill h2 {
    width: 100%;
    font-size: 1.78em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;
    text-align: center;
}

.skill p {
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #D9D9D9;
}

.skills .rings-middle {
    position: absolute;
    z-index: 1;
    bottom: -65px;
    right: -344px;
}

/****************** PROJECTS ******************/

.projects {
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 80px 0;
    position: relative;
}



.projects .title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.title-bar h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.14px;
}

.title-bar a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    border-bottom: 2px solid #4EE1A0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
}

.project-case {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.project {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 40px;
}

.project img {
    width: 100%;
    margin-bottom: 20px;
}

.project h3 {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    margin-bottom: 7px;
}

.project .tools {
    margin-bottom: 20px;
}

.tools span {
    padding-right: 18px;
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    color: #D9D9D9;
}

.project .links {
    width: 79%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.project .links a {
    font-size: 0.88em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
}

/****************** FOOTER ******************/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #242424;
    padding-bottom: 60px;
    position: relative;
}

footer .contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 60px 0 50px 0;
}

footer h2 {
    font-size: 2.22em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.14px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

footer p {
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    color: #D9D9D9;
    text-align: center;
    margin-bottom: 50px;
}

footer .contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 39px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 87px;
}

.contact-form form {
    width: 100%;
}

form input[type="text"] {
    width: 100%;
    margin-bottom: 32px;
    background-color: #242424;

    color: #fff;
    font-size: 0.88em;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
    opacity: 0.5;
    border-bottom: 1px solid #fff;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding-bottom: 17px;
}

form input::placeholder {
    padding-left: 24px;
}

form .message input[type="text"] {
    padding-bottom: 81px;
}

.submit-case {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

form input[type="submit"] {
    text-align: right;
    background: #242424;
    color: #fff;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;
    font-size: 0.88em;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 2.29px;
    opacity: 1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    text-transform: uppercase;
}

footer .foot-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.foot-title h1 {
    width: 100%;
    font-size: 1.33em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.33px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.foot-title .socials {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.foot-title .socials img {
    width: 13%;
}

.mentor {
    font-size: 0.65em;
    background: #242424;
}

.mentor a {
    color: #fff;
    text-decoration: none;
}

footer .rings-bottom {
    position: absolute;
    bottom: 269px;
    left: -343px;
    color: #fff;
}

/********************* TABLET STYLES *********************/

@media (min-width: 768px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 29px 0 90px 0;
    }

    nav h1 {
        width: 24.3%;
        margin: 0;
    }

    nav .socials {
        width: 25%;
    }

    header {
        background: url('../images/image-profile-tablet.webp') no-repeat;
        background-position: right 0px;
        background-size: auto 600px;
        margin-bottom: 60px;
    }

    header .container {
        justify-content: flex-start;
    }

    /************** HERO ****************/

    .hero {
        width: 59.72%;
        justify-content: flex-start;
    }

    header .hero h2 {
        width: 100%;
        text-align: left;
        font-weight: 700;
        font-size: 4em;
        line-height: 72px;
        letter-spacing: -2.1px;
        margin-bottom: 60px;
    }

    header .hero p {
        text-align: left;
        font-size: 1em;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 34px;
    }

    header .hero a {
        text-align: left;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2.29px;
        font-size: 0.88em;
    }

    header .circle {
        top: 471px;
    }

    header .rings-top {
        top: 86px;
        left: -265px;
    }

    /***************** SKILL ****************/

    .skills {
        padding: 52px 0 0 0;
        border-bottom: none;
    }

    .skill {
        width: 50%;
        justify-content: flex-start;
    }

    .skill h2,
    .skill p {
        text-align: left;
        width: 100%;
    }

    .skill h2 {
        font-size: 2.67em;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1.5px;
    }

    .skill p {
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    .skills .rings-middle {
        bottom: -65px;
        right: -332px;
    }

    /***************** PROJECTS ****************/

    .projects {
        padding: 100px 0 0 0;
    }

    .projects h2 {
        font-size: 4em;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .projects .title-bar {
        margin-bottom: 60px;
    }

    .project-case {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .project {
        width: 48%;
        margin-bottom: 60px;
    }

    /**************** FOOTER ****************/

    .contact-info h2 {
        width: 100%;
        font-weight: 4em;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .contact-info p {
        width: 58%;
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    .contact-form {
        width: 100%;
        padding-bottom: 92px;
    }

    .contact-form form {
        width: 58%;
    }

    footer .rings-bottom {
        bottom: 130px;
        left: -368px;
    }

    footer .foot-title {
        width: 100%;
        justify-content: space-between;
    }

    .foot-title h1 {
        width: 24%;
    }

    .foot-title .socials {
        width: 27%;
    }
}

/********************* DESKTOP STYLES *********************/

@media (min-width: 1200px) {

    /********************** GENERAL STYLES **********************/

    main .container {
        width: 77%;
    }

    /********************** HEADER **********************/

    header {
        max-width: 1110px;
        width: 77%;
        background: url('../images/image-profile-desktop.webp ') no-repeat;
        background-position: right;
        background-size: auto 720px;
    }

    header .container {
        width: 100%;
        justify-content: flex-start;
    }

    header .circle {
        top: 521px;
        right: 380px;
    }

    header .rings-top {
        top: 133px;
    }

    nav {
        width: 97%;
        margin-bottom: 127px;
    }

    nav .socials {
        width: 17.3%;
    }

    header .container .hero {
        width: 62%;
    }



    header .hero h2 {
        width: 100%;
        font-size: 4.89em;
        line-height: 88px;
        letter-spacing: -2.5px;
    }

    header .hero p {
        width: 63%;
    }

    header .hero a {
        margin-right: 280px;
    }

    /************************ SKILLS *********************/

    .skills {
        max-width: 1110px;
        margin-bottom: 85px;
    }

    .skills .container {
        width: 100%;
    }

    .skills .skill {
        width: 31%;
        padding-bottom: 0;
        margin-bottom: 58px;
    }

    .skill h2 {
        font-size: 2.67em;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1.5px;
        padding-bottom: 14px;
    }

    .skill p {
        font-size: 1em;
        font-weight: 500;
        line-height: 28px;
    }

    .skills .rings-middle {
        bottom: -5px;
        right: -339px;
    }

    /******************** PROJECTS ******************/

    .projects {
        max-width: 1110px;
        padding-top: 0;
    }

    .projects .container {
        width: 100%;
    }

    .title-bar {
        width: 100%;
    }
}